<h1>Activistas Summary</h1>

<p id ="cweek">
  Default value is current week <span>Top Ten</span>!
  <br>Select another date to see others weeks...</br>
</p>
<p>

  <%= form_tag({:action => 'index',:controller => 'activista_summary'},:id => "form_nweek", :method => :get) do %>
    <%= text_field_tag(:d_week,'',:id=>"date")  %>
    <span id ="submit_form">Submit</span>
<% end %>
</p>
<table>
  <tr>
    <th>ID</th>
    <th>#</th>
    <th>FIRST</th>
    <th>LAST</th>
  </tr>
 <%= render "top10" %>
</table>
