<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>This is an alert from Movercado analysis</h1>
    <p>
       Suspicious activity detected in the plataform.
      <%= @suspicious_content %>  
    </p>
  </body>
</html>